<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Simple game with Vuejs | HamidWeb</title>
  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="mobile-web-app-capable" content="yes">
<link rel="manifest" href="manifest.json">
<meta name="theme-color" content="#FECE08">
  
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="fav/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="fav/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="fav/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="fav/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="fav/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="fav/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="fav/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="fav/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="fav/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="fav/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="fav/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="fav/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="fav/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Hamid Raza"/>
<meta name="msapplication-TileColor" content="#f7f7f7" />
<meta name="msapplication-TileImage" content="fav/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="fav/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="fav/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="fav/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="fav/mstile-310x310.png" />

<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="app" :class="{finished: activeColors.length * matchLimit == colors.length}">
  <div class="content d-f fd-c">

    <header class="main d-f ai-fe jc-sb">
      <div class="scores">
        <div class="score"><label>Time </label> {{timeSpent}}<label>s</label></div>
        <div class="past-score" v-if="yourBest"><label>Your best</label> {{yourBest}}s</div>
      </div>
      <div class="settings">
        <div class="icon" @click="showSettings = !showSettings"></div>
        <div class="options" :class="{open: showSettings}">
          <div class="close" @click="showSettings = false"></div>
          <div class="option">
            <label>
              <span>Color limit</span>
              <strong>{{colorLimit}}</strong>
            </label>
            <input type="range" min="2" max="50" class="field" v-model="colorLimit">
          </div>
          <div class="option">
            <label>
              <span>Match limit</span>
              <strong>{{matchLimit}}</strong>
            </label>
            <input type="range" min="2" max="10" class="field" v-model="matchLimit">
          </div>
          <div class="action">
            <button @click="() => {reset(); showSettings=false}">Reset</button>
          </div>
        </div>
      </div>
    </header>

    <div class="pos-r z-1">
      <div class="box-wrap f-1 d-f fw-w" :class="{loading}">
        <div class="box d-f"
          v-for="(color, idx) in colors"
          :title="color"
          @click.prevent="handleClick(idx)"
          :class="{active: activeColors.includes(color), selected: selectedIndex.includes(idx)}"
        >
          <div class="front f-1 d-f ai-c jc-c"></div>
          <div class="back f-1 d-f ai-c jc-c" :style="{background: color}"></div>
        </div>
      </div>

      <div class="msg-finished d-f fd-c jc-c ai-c ta-c">
        <h3>Congratulations</h3>
        <p>You have successfully completed the game.</p>
        <div class="f-1"></div>
        <div class="action">
          <button @click="() => {reset(); showSettings=false}">Restart</button>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.4/randomColor.min.js"></script>
<script src="script.js"></script>

</body>
</html>

